<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezatech.apps_sip">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logsip"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logsip"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".riwayatNotif.DetailRwActivity"></activity>
        <activity android:name=".logRes.CreatePassActivity" />
        <activity android:name=".slide.SlideScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Helper.SplashPermssionActivity" />
        <activity android:name=".pengaturan.PengaturanActivity" />
        <activity android:name=".logRes.LoginActivity" />
        <activity android:name=".riwayatNotif.RiwayatActivity" />
        <activity android:name=".pengguna.ProfilActivity" />
        <activity android:name=".uploadLaporan.FormActivity" />
        <activity android:name=".notifLaporan.ListLaporanActivity" />
        <activity android:name=".pengaturan.InfoActivity" />
        <activity android:name=".pengaturan.TentangActivity" />
        <activity android:name=".notifLaporan.DetailLapActivity" />
        <activity android:name=".logRes.LupaPasswordActivity" />
        <activity android:name=".pengaturan.GantiPasswordActivity" />
        <!-- Firebase Notifications -->
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>