<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezatech.apps_sip">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logsip"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logsip"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".slide.SlideScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Helper.SplashPermssionActivity" />
        <activity android:name=".pengaturan.PengaturanActivity" />
        <activity android:name=".logRes.LoginActivity" />
        <activity android:name=".riwayatNotif.RiwayatActivity" />
        <activity android:name=".pengguna.ProfilActivity" />
        <activity android:name=".uploadLaporan.FormActivity" />
        <activity android:name=".notifLaporan.ListLaporanActivity" />
        <activity android:name=".pengaturan.InfoActivity" />
        <activity android:name=".pengaturan.TentangActivity"></activity>
    </application>

</manifest>